<%- include("partials/header") %>

<body>
    <header class="header">
        <a href="" class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/633/633652.png" alt="">
        </a>

        <nav class="navbar">
            <a href="/menu">Menu</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
        </nav>

        <div class="icon">
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/3144/3144456.png" alt=""></a>
        </div>
    </header>

    <section class="home">
        <div class="content">
            <h3>Fress Coffe</h3>
            <p>Coffee for the better morning day</p>
        </div>
    </section>
</body>

<%- include("partials/footer") %>