<%- include("partials/header") %>

    <body class=background-login>
        <div class="main">
            <div class="login">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="User name">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Login</button>
                </form>
            </div>
    </body>

    <%- include("partials/footer") %>