<%- include("partials/header") %>

<body>
    <div class="menu-items-container">
        <div class="menu-item">
            <img src="https://images.pexels.com/photos/302904/pexels-photo-302904.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="content">
                <h3>item 1</h3>
                <div class="price">$10.00</div>
                <button>+</button>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://images.pexels.com/photos/2396220/pexels-photo-2396220.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="content">
                <h3>item 2</h3>
                <div class="price">$12.00</div>
                <button>+</button>
            </div>
        </div>
    </div>
</body>

<%- include("partials/footer") %>